.main-pages {
    font-weight: bold;
}

.first-entry {
    margin: var(--gap)0 calc(var(--gap)) !important;
}

.post .post-content figcaption {
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 1.3;
    color: #666665;
    outline: 0;
    z-index: 300;
    text-align: center;
    }

a.footnote-ref, a.footnote-backref {
    font-size: small;
    margin: 2px;
    border: 1px solid white;
    box-shadow: none;
}

    figcaption {
    text-align: center;
    font-style: italic;
}