.terminal a {
    color: #F92672
}

.terminal p {
    margin-bottom: 7px;
}

.terminal {
    font-family: menlo,consolas,monospace;
    font-weight: bold;
    color: white;
    text-align: left;
    line-height: 20px;
}

@media only screen and (max-width: 600px) {
    .terminal {
          font-size: 1rem;
    }
  }

.terminal>.terminal--input {
    counter-increment: input
}

.terminal>.terminal--prompt:before {
    content: "taylor@jadin.me ~";
    color: #A6E22E
}

.terminal>.terminal--input:before {
    content: "$ ";
    color: white;
}

.terminal>.terminal--input:last-child:after {
    -webkit-animation: blink 0.75s infinite;
    -moz-animation: blink 0.75s infinite;
    -o-animation: blink 0.75s infinite;
    animation: blink 0.75s infinite;
    margin-left: 5px;
    width: 28px;
    content: "|";
    background: white
}

.terminal>.terminal--output.is-console:before {
    margin-right: 10px;
    content: ">"
}

.terminal>.terminal--output.is-not-defined:before {
    content: "undefined";
    color: rgba(255, 255, 255, 0.5)
}

@-webkit-keyframes blink {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@-moz-keyframes blink {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@-ms-keyframes blink {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes blink {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}